<section id="listCar">
<div class="container-list-car">
    <div class="list-button">
        <span class="list-car">List Car</span>
        <div class="button-right">
            <button type="button" class="btn btn-primary">
                <img src="images/fi_plus.png" alt="icon-plus"> Add New Car
            </button>
        </div>
    </div>
    <div class="btn-group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary">All</button>
        <button type="button" class="btn btn-outline-primary">Small</button>
        <button type="button" class="btn btn-outline-primary">Medium</button>
        <button type="button" class="btn btn-outline-primary">Large</button>
    </div>

    <div class="row">
    
    <div class="col-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <img src="images/fi_car.png" alt="img-car">
            </h5>
            <p>Nama/Tipe Mobil</p>
            <h6>Rp 430.000 / hari</h6>
            <p class="card-text">
                <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
            </p>
            <p class="card-text">
                <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
            </p>
            <div class="btn-group" aria-label="Basic example">
                <button type="button" class="btn btn-danger">
                    <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                </button>
                <button type="button" class="btn btn-success">
                    <img src="images/fi_edit.png" alt="icon-edit">Edit
                </button>
            </div>
        </div>
    </div>
    </div>

    <div class="col-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <img src="images/fi_car.png" alt="img-car">
            </h5>
            <p>Nama/Tipe Mobil</p>
            <h6>Rp 430.000 / hari</h6>
            <p class="card-text">
                <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
            </p>
            <p class="card-text">
                <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
            </p>
            <div class="btn-group" aria-label="Basic example">
                <button type="button" class="btn btn-danger">
                    <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                </button>
                <button type="button" class="btn btn-success">
                    <img src="images/fi_edit.png" alt="icon-edit">Edit
                </button>
            </div>
        </div>
    </div>
    </div>
    
    <div class="col-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <img src="images/fi_car.png" alt="img-car">
            </h5>
            <p>Nama/Tipe Mobil</p>
            <h6>Rp 430.000 / hari</h6>
            <p class="card-text">
                <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
            </p>
            <p class="card-text">
                <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
            </p>
            <div class="btn-group" aria-label="Basic example">
                <button type="button" class="btn btn-danger">
                    <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                </button>
                <button type="button" class="btn btn-success">
                    <img src="images/fi_edit.png" alt="icon-edit">Edit
                </button>
            </div>
        </div>
    </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <img src="images/fi_car.png" alt="img-car">
                </h5>
                <p>Nama/Tipe Mobil</p>
                <h6>Rp 430.000 / hari</h6>
                <p class="card-text">
                    <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                </p>
                <p class="card-text">
                    <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                </p>
                <div class="btn-group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger">
                        <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                    </button>
                    <button type="button" class="btn btn-success">
                        <img src="images/fi_edit.png" alt="icon-edit">Edit
                    </button>
                </div>
            </div>
        </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="images/fi_car.png" alt="img-car">
                    </h5>
                    <p>Nama/Tipe Mobil</p>
                    <h6>Rp 430.000 / hari</h6>
                    <p class="card-text">
                        <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                    </p>
                    <p class="card-text">
                        <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="btn-group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger">
                            <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                        </button>
                        <button type="button" class="btn btn-success">
                            <img src="images/fi_edit.png" alt="icon-edit">Edit
                        </button>
                    </div>
                </div>
            </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <img src="images/fi_car.png" alt="img-car">
                        </h5>
                        <p>Nama/Tipe Mobil</p>
                        <h6>Rp 430.000 / hari</h6>
                        <p class="card-text">
                            <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                        </p>
                        <p class="card-text">
                            <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                        </p>
                        <div class="btn-group" aria-label="Basic example">
                            <button type="button" class="btn btn-danger">
                                <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                            </button>
                            <button type="button" class="btn btn-success">
                                <img src="images/fi_edit.png" alt="icon-edit">Edit
                            </button>
                        </div>
                    </div>
                </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <img src="images/fi_car.png" alt="img-car">
                            </h5>
                            <p>Nama/Tipe Mobil</p>
                            <h6>Rp 430.000 / hari</h6>
                            <p class="card-text">
                                <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                            </p>
                            <p class="card-text">
                                <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                            </p>
                            <div class="btn-group" aria-label="Basic example">
                                <button type="button" class="btn btn-danger">
                                    <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                                </button>
                                <button type="button" class="btn btn-success">
                                    <img src="images/fi_edit.png" alt="icon-edit">Edit
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <img src="images/fi_car.png" alt="img-car">
                                </h5>
                                <p>Nama/Tipe Mobil</p>
                                <h6>Rp 430.000 / hari</h6>
                                <p class="card-text">
                                    <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                                </p>
                                <p class="card-text">
                                    <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                                </p>
                                <div class="btn-group" aria-label="Basic example">
                                    <button type="button" class="btn btn-danger">
                                        <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                                    </button>
                                    <button type="button" class="btn btn-success">
                                        <img src="images/fi_edit.png" alt="icon-edit">Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <img src="images/fi_car.png" alt="img-car">
                                    </h5>
                                    <p>Nama/Tipe Mobil</p>
                                    <h6>Rp 430.000 / hari</h6>
                                    <p class="card-text">
                                        <img src="images/fi_key.png" alt="icon-key">Start rent - Finish rent
                                    </p>
                                    <p class="card-text">
                                        <img src="images/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                                    </p>
                                    <div class="btn-group" aria-label="Basic example">
                                        <button type="button" class="btn btn-danger">
                                            <img src="images/fi_trash-2.png" alt="icon-trash">Delete
                                        </button>
                                        <button type="button" class="btn btn-success">
                                            <img src="images/fi_edit.png" alt="icon-edit">Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                            </div>
    </div>
</div>
</section>